*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html{
	scroll-behavior: smooth;
}

.header{
	text-align: center;
	background-color: #0c6168;
	box-shadow: 1px 0px 10px #000;
}

.logo img{
	height: 90px;
	width: 90px;
}

.title h1{
	color: #fff;
	font-size: 3rem;
}

.menu{
	display: flex;
	flex-direction: column;
	padding: 15px 0px;
}

.menu a{
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #000;
	text-decoration: none;
	padding: 10px 10px;
	background-color: yellow;
	margin: 5px 15px;
	border-radius: 21px;
	background: linear-gradient(145deg, #0d686f, #0b575e);
	box-shadow:  13px 13px 26px #0a5156, 
	-13px -13px 26px #0e717a;
	transition: 0.5s;}

	.menu a:hover{

		background-color: #0c6168;
		color: white;
		border-radius: 28px;
		background: #0c6168;
		box-shadow: inset 17px 17px 18px #0a5258, 
		inset -17px -17px 18px #0e7078;
	}

	[class*="col-"]{
		float: left;
	}
	[class*="col-"]{
		width: 100%;
	}
	.header::after{
		content: '';
		clear: both;
		display: table;
	}

	/*Profile design starts here*/

	.profile{
		text-align: center;
		padding: 100px 10px;
		position: relative;
	}

	.profile img{
		width: 100px;
		height: 100px;
	}

	.desc h1{
		padding: 30px;
		font-size: 2.5rem;
	}

	.po1{
		position: absolute;
		right: 60px;
		top: 20px;
	}

	.po2{
		position: absolute;
		left: 60px;
		bottom: 0;

	}

	.desc p{
		padding: 10px;
		font-size: 1.2rem;
		text-align: justify;
		margin: 5px;
	}

	/*about me starts here*/

	.dotted-hr{
		border:6px dotted white;
		border-bottom: none;
		margin: 20px auto;
		width: 70px;
	}

	.about{
		margin-top: 30px;
		background-color: #39a4ac;
		padding: 20px 10px;
		color: white;
		text-align: center;
	}

	.about::after{
		content: '';
		display: table;
		clear: both;
	}

	.about h2{
		font-size: 1.5rem;
		text-align: center;
	}

	.image img{
		border:5px solid white;
		border-radius: 110px;
		height: 220px;
		width: 220px;
	}

	.desc2 p{
		margin: 10px 0px;
	}
	.about p{
		font-size: 1.2rem;
	}

	.about a{
		font-size: 1.2rem;
		text-decoration: none;
		color: blue;
		cursor: pointer;
	}

	.desc2 button,.contact button{
		background-color: #052d2f;
		color: white;
		border:none;
		border-radius: 12px;
		padding: 15px;
		font-size: 1rem;
		cursor: pointer;
		text-align: center;
		margin: 10px;
		margin-top: 25px;
		outline: none;
	}

	/*about me ends here*/

	.about{
		width: 95%;
		border-radius: 10px;
		margin: 20px auto;
	}
	.card-icon img{
		width: 120px;
		height: 120px;
		padding: 10px;
		border:5px solid white;
		border-radius: 60px;
		text-align: center;
	}

	.work-experience,.education,.skills{
		padding: 10px 0px;
		text-align: center;
		background-color: #a39e9e;
		margin: 10px 0px;
		border-radius: 10px;
		height: 600px;
	}

	.card-title{
		background-color: #000;
		padding: 10px;
		width: 90%;
		margin: 10px auto;
		color: #fff;
	}

	.card-title h2{
		letter-spacing: 2px;
	}

	.education img{
		border: none;
		width: 120px;
		height: 120px;
	}

	.skill{
		width: 95%;
		margin: 0 auto;
		color: #fff;
	}
	.skill ol{
		text-align: left;
		padding-left: 50px;
	}

	.card-desc2{
		margin: 50px 0px;
	}

	.skill hr{
		margin: 10px 0;
		width: 94%;
	}

	/*animation*/
	.card-desc3 ul{
		width: 90%;
		margin: 0 auto;
	}

	.card-desc3 li{
		list-style: none;
		margin: 50px 0px;
		font-weight: bolder;
		text-transform: uppercase;
		position: relative;
		text-align: left;
	}
	
	.card-desc3 li::before{
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 10px;
		top: calc(100% + 5px);
		background-color: rgb(170,167,173);
		border-radius: 1000px;
	}
	
	.card-desc3 li::after{
		content: '';
		position: absolute;
		left: 0;
		width: 0;
		height: 10px;
		top: calc(100% + 5px);
		background-color: rgb(0,0,0);
		border-radius: 1000px;

		animation-duration: 3s;
		animation-timing-function: linear;
		/*animation-delay: 1s;*/
		/*animation-iteration-count: 3;*/
		/*animation-direction: forward;*/
		animation-fill-mode: forwards;
	}
	
	.html::after{
		animation-name: html;

	}
	
	.css::after{
		animation-name: css;

	}
	
	.Js::after{
		animation-name: Js;

	}
	
	@keyframes Js{
		to{
			width: 30%;
			background-color: toamto;
		} 
	}

	@keyframes html{
		to{
			width: 90%;
			background-color: toamto;
		}
	}
	
	@keyframes css{
		to{
			width: 60%;
			background-color: toamto;
		}
	}
	
	/*animation*/

	.skill::after{
		clear: both;
		display: table;
		content: '';
	}

	.achievements{
		min-height: 500px;
		width: 100%;
		margin: 25px auto;
		margin-bottom: 0;
		color: #fff;
		background-color: cadetblue;
		padding: 10px;
		padding-top: 0;
	}

	.achievements::after{
		clear: both;
		display: table;
		content: '';
	}

	.links,.contact,.achievement{
		background-color: cadetblue;
		padding: 25px 0;
		min-height: inherit;
	}

	.achievements h2{
		text-align: center;
	}

	.contact{
		text-align: center;
	}

	.contact p{
		margin: 10px 0;
	}

	.contact input,textarea{
		width: 100%;
		padding: 10px;
		font-size: 1rem;
		text-align: center;
		border:none;
		resize: none;
		border-radius: 5px;

	}

	.contact button{
		width: 150px;
	}

	.mbutton{
		text-align: center;
		margin-top: 50px;
	}

	.mbutton button{
		font-size: 1.8rem;
		padding: 15px;
		width: 65px;
		border-radius: 11px;
		background: linear-gradient(145deg, #66a9ab, #568e90);
		box-shadow:  8px 8px 15px #508586, 
		-8px -8px 15px #6eb7ba;
		border:none;
		outline: none;
		margin: 10px;

	}
	.mbutton button:hover{
		border-radius: 11px;
		background: #5F9EA0;
		box-shadow: inset 8px 8px 15px #508586, 
		inset -8px -8px 15px #6eb7ba;
	}

	.footer{
		background-color: black;
		padding: 20px;
		text-align: center;
	}

	.footer::after{
		clear: both;
		content: '';
		display: table;

	}

	.footer a{
		display: block;
		font-size: 1rem;
		text-decoration: none;
		color: #fff;
		margin: 15px 0;
	}

	.footer a:hover{
		color: gray;
	}

	.footer-desc{
		color: white;
		font-size: 1rem;
	}











